.content {
    max-width: 600px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.hero {
    max-width: 600px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile {
    max-width: 600px;
    font-size: 16px;
    position: relative;
}
/*ava*/
.avatar:hover .back {
    transform: rotateY(180deg);
}
.avatar:hover .front {
    transform: rotateY(0deg);
}
.avatar > .back,.front {
    position: absolute;
    top: 150px;
    left: 20px;
    perspective: 1000;

    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ffffff;
}
.front, .back {
    position: absolute;
    backface-visibility: hidden;
    transition: 0.5s;
    transform-style: preserve-3d;
}
.front {
    z-index: 1;
    transform: rotateY(-180deg);
}
.back {
    z-index: 2;
    transform: rotateY(0deg);
}
/*end avatar*/

.wallpaper {
    pointer-events: none;
    max-width: 600px;
    height: 180px;
    object-fit: cover;
}

.profile-stats {
    text-align: center;
    display: flex;
    align-items: center;
}

.profile-header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;

    display: flex;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 20px;

}

.verified {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    filter: invert(58%) sepia(19%) saturate(6596%) hue-rotate(160deg) brightness(96%) contrast(102%);
    pointer-events: none;
}

.profile-account {
    font-size: 14px;
    color: #8a96a3;
    position: absolute;
    top: 290px;
    left: 20px;
}

.forewords {
    text-align: left;
    position: absolute;
    top: 320px;
    margin: 0 20px;
    line-height: 24px;

}

.subcribe {
    position: relative;
    top: 230px;
}

.subcribe button{
    width: 560px;
    height: 48px;
    align-items: center;
    margin-bottom: 16px;
    
    border: none;
    background-color: #00aff0;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 1000px;
    transition: opacity .15s, background-color .15s ease;
}
.subcribe button:hover {
    background-color: #0091ea;
}

.posts {
    position: relative;
    top: 230px;
}

/*code segment*/
code {
    max-width: 560px;
    text-align: left;
    font-family: 'Courier New', monospace;
    background-color: #f4f4f4;
    padding: 0.5em;
    display: block;
    overflow-x: auto;
    margin: 0;
}

.df-docs {
    margin-bottom: 20px;
    width: 600px;
}
.df-thumb {
    width: 180px;
}
.df-docs h2,h3,h4,h5{
    text-align: left;
    margin: 20 20px;
}
.df-docs p {
    text-align: left;
    margin: 0 20px;
    line-height: 24px;
}
.df-docs a,li {
    text-align: left;
}
.df-img {
    width: 560px;
    transition: transform 0.3s ease-in-out;
}
.df-img:hover {
    /*transform: scale(1.5);*/
}

.df-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.df-grid button {
    width: 180px;
    height: 220px;
    border: none;
    background: none;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
}
.df-grid button:hover {
    filter: brightness(90%);
}

.df-grid-icon {
    width: 180px;
    border-radius: 20%;
    margin-bottom: 5px;
}

.separator::before {
    content: "";
    position:absolute;
    left: 0;
    right: 0;
    top: 460px;
    width: 600px;
    height: 8px;
    background-color: #f6f7f8;
    border-top: 1px solid #ccc;
}

.dfimg-whole {
    position: relative;
    top: 300px;
}

.dfimg-status {
    text-align: left;
    height: 120px;
}

.dfimg-status img{
    width: 48px;
    border-radius: 50%;
    position: relative;
    left: 20px;
}

.dfimg-header {
    position: relative;
    left: 80px;
    top: -46px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.dfimg-header .verified{
    position: relative;
    left: 0%;
    width: 16px;
}

.dfimg-account {
    position: relative;
    top: -40px;
    left: 80px;
    font-size: 14px;
    color: #8a96a3;
}

.dfimg-img {
    width: 600px;
    pointer-events: none;
}

.dfimg-text {
    position: relative;
    top: -40px;
    margin-left: 20px;
    line-height: 24px;
}


@media (min-width: 682px) {
    .content {
        margin-left: 0px;
        min-height: 100%;
        min-width: 600px;
    }
}
@media (min-width: 764px) {
    .content {
        margin: 0 auto;
        min-height: 100%;
        min-width: 600px;
    }
}

@media (min-width: 1250px) {
    .content {
        margin-left: 0px;
        min-height: 100%;
        min-width: 600px;
    }
}

@media (min-width: 1346px) {
    .content {
        margin: 0 auto;
        min-height: 100%;
        min-width: 600px;
    }
}
@media (min-width: 1400px) {
    .content {
        margin: 0 auto;
        min-height: 100%;
        min-width: 600px;
    }
}


