.right-bar {
    
}
.socials button{
    width: 340px;
    height: 44px;
    align-items: center;

    display: inline-flex;
    justify-content: center;
    flex-basis: 240px;
    padding: 10px;
    margin-bottom: 8px;
    
    border: none;
    color: #ffffff;
    font-weight: 500;
    border-radius: 1000px;
    transition: opacity .15s, background-color .15s ease;
}
.socials button:hover {
    filter: brightness(90%);
}
.socials-icon {
    pointer-events: none;
    width: 20px;
    filter: invert(100%)
}
.socials-text {
    flex: 1;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.footer {
    font-family: 'Khula', sans-serif;
    font-weight: 400;
}

.df-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1053px) {
    .right-bar {
        display: none;
    }
}
@media (min-width: 1052px) {
    .right-bar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1000;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        width: 370px;
        height: auto;
        padding: 16px 0px;
    
        align-content: flex-start;
        align-items: flex-start;
    
    }
}
@media (min-width: 1346px) {
    .right-bar {
        position: fixed;
        top: 0;
        right: 0px;
        z-index: 1000;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        width: 370px;
        height: auto;
        padding: 16px 0px;
    
        align-content: flex-start;
        align-items: flex-start;
    
        margin-right: calc(50% - 672px);
    }
}
@media (min-width: 1400px) {
    .right-bar {
        position: fixed;
        top: 0;
        right: 0px;
        z-index: 1000;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        width: 370px;
        height: auto;
        padding: 16px 0px;
    
        align-content: flex-start;
        align-items: flex-start;
    
        margin-right: calc(50% - 700px);
    }
}

